*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    background: rgba(0, 0, 0,0.3);
    width: 80%;
    margin: auto;
}

main nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    width: 100%;
    height: 100%;
}

.row row-cols-1 row-cols-md-2 g-4{}

.navbar{
    background: rgba(0, 0, 0,0.3);
}