*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background: rgba(0, 0, 0,0.3);
    width: 80%;
    margin: auto;
}