/* ALAP CSS – amit te adtál */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    background: rgba(0, 0, 0,0.3);
    width: 80%;
    margin: auto;
}

main nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    width: 100%;
    height: 100%;
}

.row row-cols-1 row-cols-md-2 g-4{}

.navbar{
    background: rgba(0, 0, 0,0.3);
}

.carousel-inner{
    width: 100%;
    margin: auto;
    height: 300px;
}

.carousel-item{
    height: 300px;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100% cover;
}

.white{
    color: white;
}


.card:hover img{
    transform: scale(0.95);
    transition: transform 0.7s ease, box-shadow 0.5s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}

/* Shadow effektus a címekre (h2, h3, card-title) */
.shadow-text{
    text-shadow: 4px 4px 10px black;
    transition: all 0.5s;
}

.shadow-text:hover{
    text-shadow: 6px 6px 12px black;
}


main{
    margin-top: 0;
}